header {
    background-color: #8FBC8F;
    color: #2F4F4F;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white; 
    padding: 16px;
} 

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}

p:hover {
    color: #0000FF;
}

